{% extends 'base.html.twig' %}

{% block title%} Modifier mot de passe{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h1 class="my-4" style="text-align: center"> Modifier votre mot de passe</h1>

                {% if notification %}
                    <div class="alert alert-info"> {{ notification }} </div>
                {% endif %}

                {{ form(form) }}

                <hr>
                <p style="text-align: right"> Retourner à <a href="{{ path('account') }}">mon compte</a></p>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
{% endblock %}