{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 style="text-align: center" class="mt-5"><span>Messagerie SoTech</span></h1>
            <p class="mt-4" style="text-align: center"> Bienvenue sur la messagerie de Techwood.
                <br> Pour pouvoir l'utiliser, veuillez vous connectez ou si ce n'est pas encore fait, vous inscrire.

                <img src="{{ asset('assets/images/TECH.jpeg') }}" class="mt-5" style="text-align: center">
            </p>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}
